.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
}

.title {
    color: var(--primary-text-color);
    margin: 0 ;
}

.text {
    color: var(--primary-text-color);
    margin: 0;
}

.text__nav {
    color: var(--primary-text-color);
    margin: 0;
}


