.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__phonenumber {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    width: 300px;
    padding: 10px;
}

.form__wrapper {
    margin-bottom: 16px;
}

.label {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.06em;
}

.input {
    padding: 4px;
    width: 200px;
    margin-top: 4px;
}