.list {
    margin: 0;
    padding: 0;
    max-width: 400px;
}

.title {
    margin: 0 0 20px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.text {
    margin: 0;
}
